<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyView</string>
	<key>Description</key>
	<string>An implementation of a CwlViews binder cluster.</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>ViewSubclass</string>
			<key>Description</key>
			<string>This is the name use for the "struct" type and the base used for the protocols.</string>
			<key>Identifier</key>
			<string>basename</string>
			<key>Name</key>
			<string>Binder name:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>viewSubclass</string>
			<key>Description</key>
			<string>EnclosingBinder name with lowercase initial letter used for function names.</string>
			<key>Identifier</key>
			<string>lowercaseBasename</string>
			<key>Name</key>
			<string>Name with lowercase initial:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>NS</string>
			<key>Description</key>
			<string>The platform prefix.</string>
			<key>Identifier</key>
			<string>platformPrefix</string>
			<key>Name</key>
			<string>Platform prefix:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>ns</string>
			<key>Description</key>
			<string>The lowercased platform prefix.</string>
			<key>Identifier</key>
			<string>lowercasePlatformPrefix</string>
			<key>Name</key>
			<string>Lowercase platform prefix:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>View</string>
			<key>Description</key>
			<string>The previous binder in the inheritance chain (the binder for the Instance's superclass or `BaseBinder`).</string>
			<key>Identifier</key>
			<string>linkedBasename</string>
			<key>Name</key>
			<string>Inherited binder:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>view</string>
			<key>Description</key>
			<string>The lowercase prefixed version of the previous binding in the inheritance chain.</string>
			<key>Identifier</key>
			<string>lowercaseLinkedBasename</string>
			<key>Name</key>
			<string>Inherited with lowercase initial:</string>
			<key>NotPersisted</key>
			<integer>1</integer>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
			</dict>
			<key>Default</key>
			<string>Swift</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Swift</key>
				<string>___FILEBASENAME___.swift</string>
			</dict>
			<key>Name</key>
			<string>Language:</string>
			<key>Required</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>An implementation of a CwlViews binder cluster.</string>
</dict>
</plist>
